// Favicon
link(rel="icon", type="image/ico" href=icon.default)
// ie browser only
meta(name="application-name" content= page.pageTitle)
meta(name="msapplication-TileColor" content= icon.iconColor)
meta(name="msapplication-TileImage" content= icon.default)
// iOS
meta(name="apple-mobile-web-app-capable" content="yes")
link(rel="apple-touch-icon", href= icon.icon76 sizes="76X76")
link(rel="apple-touch-icon", href= icon.icon120 sizes="120x120")
link(rel="apple-touch-icon", href= icon.icon152 sizes="152x152")
// Android
meta(name="mobile-web-app-capable" content="yes")
link(rel="icon", href= icon.icon128 sizes="128x128")
link(rel="icon", href= icon.icon192 sizes="192x192")
