//- Basic config of project
-
  var data = {
    siteTitle       : '網站標題',
    siteUrl         : '',
    siteName        : '網站名稱',
    siteKeywords    : '網站關鍵字',
    siteDescription : '網站描述',
    // og meta（http://ogp.me/#types）
    ogLocale        : 'zh-TW',
    ogType          : 'website',
    ogImage         : '', // 絕對路徑
    fbAdmins        : '',
    fbAppId         : '',
    // Google Analytics
    gaTrack         : '',
    //- Facebook Pixel
    fpTrack         : '', // Insert your pixel ID here.
  }
  //- Icon config for favicon
  var icon = {
    default         : '',
    iconColor       : '',
    icon76          : '',
    icon120         : '',
    icon128         : '',
    icon152         : '',
    icon192         : ''
  }